tokenizers
torch
numpy
torchaudio
torchdata
torchvision
tqdm
transformers
triton
accelerate
aiohappyeyeballs
aiohttp
aiohttp-cors
aiosignal
airportsdata
annotated-types
antlr4-python3-runtime
anyio
astor
async-timeout
attrs
blake3
cachetools
certifi
cfgv
charset-normalizer
click
cloudpickle
codetiming
colorful
compressed-tensors
cupy-cuda12x
datasets
deprecated
depyf
dill
diskcache
distlib
distro
dnspython
docker-pycreds
einops
email-validator
exceptiongroup
fastapi
fastapi-cli
fastrlock
filelock
flash-attn
frozenlist
fsspec
gguf
gitdb
gitpython
google-api-core
google-auth
googleapis-common-protos
grpcio
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
hydra-core
identify
idna
importlib-metadata
interegular
jinja2
jiter
jsonschema
jsonschema-specifications
lark
latex2sympy2-extended
liger-kernel
llguidance
llvmlite
lm-format-enforcer
markdown-it-py
markupsafe
math-verify
mdurl
mistral-common
modelscope
mpmath
msgpack
msgspec
multidict
multiprocess
nest-asyncio
networkx
ninja
nodeenv
numba
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
openai
opencensus
opencensus-context
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-semantic-conversions-ai
orjson
outlines
outlines-core
packaging
pandas
partial-json-parser
peft
pillow
platformdirs
pre-commit
prometheus-client
prometheus-fastapi-instrumentator
propcache
proto-plus
protobuf
psutil
py-cpuinfo
py-spy
pyarrow
pyasn1
pyasn1-modules
pybind11
pycountry
pydantic
pydantic-core
pygments
pylatexenc
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pyyaml
pyzmq
ray
referencing
regex
requests
rich
rich-toolkit
rpds-py
rsa
safetensors
scipy
sentencepiece
sentry-sdk
setproctitle
shellingham
six
smart-open
smmap
sniffio
starlette
sympy
tensordict
tiktoken
typer
typing-extensions
typing-inspection
tzdata
urllib3
uvicorn
uvloop
virtualenv
vllm
wandb
watchfiles
websockets
word2number
wrapt
xformers
xgrammar
xxhash
yarl
zipp
# sglang
# flashinfer_python